<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ezzar_APPlication">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="Utility.CustomListener"/>
     
  </listeners>
   <test name="Ezzar_Result">
    <classes>
      <class name="TestCase.SignIn">
      </class>
      
    </classes>
  </test>
</suite>
